/*  your css code here. If applicable */
body{
	background-color:black;

}

.container{
	display:grid;
	grid-template-columns: repeat(40,1fr);
		height:100vh;
}

.square{
	margin:0;
	  padding-bottom: 100%;
           transition:.5
}